
        div#maincontent {
            height: 140px;
            width: 300px;
            border: 1px solid brown;
            text-align: left;
            color: #08438E;
            font-family: calibri;
            font-size: 20;
            padding: 5px;
        }
        div#heading {
            text-decoration: bold;
            text-align: center;
            margin-top: 80px;
            width: 300px;
            border: 1px solid brown;
            text-align: center;
            color: orange;
            background-color: brown;  
            font-family: calibri;
            font-size: 20;
            padding: 5px;
        }